In [24]:
%matplotlib inline
from matplotlib import style
style.use('fivethirtyeight')
import matplotlib.pyplot as plt

In [25]:
import numpy as np
import pandas as pd

In [52]:
import datetime as dt

# Reflect Tables into SQLAlchemy ORM

In [27]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

## SQLAlchemy Create Engine

### Create function that prepares the database file to be connected to

In [28]:
engine = create_engine("sqlite:///hawaii.sqlite")

## SQLAlchemy Automap Base

In [29]:
# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

In [30]:
# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [31]:
# Create our session (link) from Python to the DB
session = Session(engine)

## Find the Date One Year Ago
### Add the most recent date, August 23, 2017; calculate the date one year back

In [32]:
prev_year = dt.date(2017, 8, 23) - dt.timedelta(days=365)
prev_year

datetime.date(2016, 8, 23)

In [33]:
# Create a variable to store the results of the query
results = []
# Reference the Measurement table using Measurement.date and Measurement.prcp
results = session.query(Measurement.date, Measurement.prcp)
# print(results.all())

In [34]:
# Filter out all of the data that is older than a year from the last record date
# Add them to a list .all()
results = session.query(Measurement.date, Measurement.prcp).filter(Measurement.date >= prev_year).all()
# print(results)

### Save the query results as a Pandas DataFrame and set the index to the date column

In [35]:
# Save Query Results
df = pd.DataFrame(results, columns=['date','precipitation'])
df.head()

         date  precipitation
0  2016-08-23           0.00
1  2016-08-24           0.08
2  2016-08-25           0.08
3  2016-08-26           0.00
4  2016-08-27           0.00

In [39]:
# Use the set_index() Function
df.set_index(df['date'], inplace=True)
# Print the DataFrame without the index
# print(df.to_string(index=False))

In [40]:
## Sort the dataframe by date
df = df.sort_index()
# print(df.to_string(index=False))

In [57]:
df['month'] = pd.DatetimeIndex(df['date']).month
df.head()

                  date  precipitation  month
date
2016-08-23  2016-08-23           0.00      8
2016-08-23  2016-08-23            NaN      8
2016-08-23  2016-08-23           1.79      8
2016-08-23  2016-08-23           0.05      8
2016-08-23  2016-08-23           0.15      8

In [68]:
df1 = df.groupby('month').describe()
print(df1)

      precipitation
              count      mean       std  min   25%   50%     75%   max
month
1             170.0  0.070294  0.276047  0.0  0.00  0.00  0.0175  2.64
2             162.0  0.241111  0.672922  0.0  0.00  0.00  0.0600  5.04
3             169.0  0.175266  0.431165  0.0  0.00  0.00  0.0800  2.40
4             171.0  0.321111  0.702469  0.0  0.00  0.02  0.3100  6.25
5             167.0  0.151317  0.315384  0.0  0.00  0.02  0.1250  2.17
6             171.0  0.120000  0.217726  0.0  0.00  0.02  0.1500  1.69
7             176.0  0.134773  0.386084  0.0  0.00  0.02  0.1125  4.00
8             134.0  0.193955  0.477401  0.0  0.00  0.02  0.1275  2.46
9             173.0  0.285549  0.662214  0.0  0.01  0.07  0.2700  6.70
10            179.0  0.121620  0.344809  0.0  0.00  0.01  0.0800  3.46
11            171.0  0.120234  0.342695  0.0  0.00  0.02  0.0900  2.87
12            178.0  0.199494  0.342967  0.0  0.02  0.06  0.2475  2.37

In [71]:
print(df1.loc[[6, 12]])

      precipitation
              count      mean       std  min   25%   50%     75%   max
month
6             171.0  0.120000  0.217726  0.0  0.00  0.02  0.1500  1.69
12            178.0  0.199494  0.342967  0.0  0.02  0.06  0.2475  2.37